Repository wkfighting/ng-preline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["prettier --write", "eslint --fix"],
  "*.{scss,css}": ["prettier --write", "stylelint --fix"],
  "*.{html,md,json,yml}": ["prettier --write"]
}

style(global): 修改文件目录结构
  .eslintrc.json
  angular.json
  preline/.eslintrc.json
  preline/README.md
  preline/ng-package.json
  preline/package.json
  preline/src/lib/preline.component.spec.ts
  preline/src/lib/preline.component.ts
  preline/src/lib/preline.module.ts
  preline/src/lib/preline.service.spec.ts
  preline/src/lib/preline.service.ts
  preline/src/public-api.ts
  preline/tsconfig.lib.json
  preline/tsconfig.lib.prod.json
  preline/tsconfig.spec.json
  projects/preline/src/lib/preline.component.ts
  projects/preline/src/lib/preline.module.ts
  projects/preline/src/lib/preline.service.ts
Due: prettier --write, eslint --fix

style: 添加全局颜色
  preline/src/style/color.scss
Due: prettier --write, stylelint --fix

style: 添加全局字体样式
  preline/src/style/font.scss
Due: prettier --write, stylelint --fix

style: 全局颜色添加黑白颜色变量
  preline/src/style/color.scss
Due: prettier --write, stylelint --fix

feat: create alert component
  preline/src/alert/alert.component.html
  preline/src/alert/alert.component.scss
  preline/src/alert/alert.component.spec.ts
  preline/src/alert/alert.component.ts
  preline/src/alert/alert.module.ts
  preline/src/alert/index.ts
  preline/src/lib/preline.component.ts
  preline/src/lib/preline.module.ts
  preline/src/lib/preline.service.spec.ts
  preline/src/lib/preline.service.ts
  preline/src/public-api.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
Due: prettier --write, eslint --fix, stylelint --fix
